flask
flask-cors
requests
lunar-python
gunicorn
groq
google-generativeai
pymongo[srv]
dnspython
edge-tts
asyncio
pandas
openpyxl
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
